<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule Mezz1">
                    <match url="community/photos" ignoreCase="false"/>
                    <action type="Rewrite" url="/index.php?url=photos" appendQueryString="false"/>
                </rule>
                <rule name="Imported Rule Mezz2">
                    <match url="community/rooms" ignoreCase="false"/>
                    <action type="Rewrite" url="/index.php?url=rooms" appendQueryString="false"/>
                </rule>
                <rule name="Imported Rule Mezz3">
                    <match url="community/fansites" ignoreCase="false"/>
                    <action type="Rewrite" url="/index.php?url=fansites" appendQueryString="false"/>
                </rule>
                <rule name="Imported Rule Mezz4">
                    <match url="community/staffs" ignoreCase="false"/>
                    <action type="Rewrite" url="/index.php?url=staffs" appendQueryString="false"/>
                </rule>
                <rule name="Imported Rule Mezz5">
                    <match url="safety/what-is-habbo" ignoreCase="false"/>
                    <action type="Rewrite" url="/index.php?url=what-is-habbo" appendQueryString="false"/>
                </rule>
                <rule name="Imported Rule Mezz6">
                    <match url="safety/safety" ignoreCase="false"/>
                    <action type="Rewrite" url="/index.php?url=safety" appendQueryString="false"/>
                </rule>
                <rule name="Imported Rule Mezz7">
                    <match url="safety/how-to-play" ignoreCase="false"/>
                    <action type="Rewrite" url="/index.php?url=how-to-play" appendQueryString="false"/>
                </rule>
                <rule name="Imported Rule Mezz8">
                    <match url="safety/habbo-way" ignoreCase="false"/>
                    <action type="Rewrite" url="/index.php?url=habbo-way" appendQueryString="false"/>
                </rule>
                <rule name="Imported Rule Mezz9" stopProcessing="true">
                    <match url="articles/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false"/>
                    <action type="Rewrite" url="/index.php?url=articles&amp;id={R:1}" appendQueryString="false"/>
                </rule>
                <rule name="Imported Rule Mezz10" stopProcessing="true">
                    <match url="safety/help" ignoreCase="false"/>
                    <action type="Rewrite" url="/index.php?url=help" appendQueryString="false"/>
                </rule>
                <rule name="Imported Rule Mezz11" stopProcessing="true">
                    <match url="myreports/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false"/>
                    <action type="Rewrite" url="/index.php?url=myreports&amp;id={R:1}" appendQueryString="false"/>
                </rule>
                <rule name="Imported Rule Mezz12" stopProcessing="true">
                    <match url="articleshop/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false"/>
                    <action type="Rewrite" url="/index.php?url=articleshop&amp;id={R:1}" appendQueryString="false"/>
                </rule>
                <rule name="Imported Rule Mezz13" stopProcessing="true">
                    <match url="adminpan/Shopy/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false"/>
                    <action type="Rewrite" url="/adminpan/index.php?url=Shopy&amp;delete={R:1}" appendQueryString="false"/>
                </rule>
                <rule name="Imported Rule Brain2">
                    <match url="api/getclientdata" ignoreCase="false"/>
                    <action type="Rewrite" url="/templates/api/getclientdata.php" appendQueryString="false"/>
                </rule>
                <rule name="Imported Rule Brain">
                    <match url="^([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false"/>
                    <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="false"/>
                </rule>
                <rule name="Imported Rule HK">
                    <match url="adminpan/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false"/>
                    <action type="Rewrite" url="adminpan/index.php?url={R:1}" appendQueryString="false"/>
                </rule>
                }
                <rule name="Imported Rule rare" stopProcessing="true">
                    <match url="raredetails/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false"/>
                    <action type="Rewrite" url="/index.php?url=raredetails&amp;id={R:1}" appendQueryString="false"/>
                </rule>
                <rule name="Imported Rule rarep1" stopProcessing="true">
                    <match url="rarespreview/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false"/>
                    <action type="Rewrite" url="/index.php?url=rarespreview&amp;id={R:1}" appendQueryString="false"/>
                </rule>
                <rule name="Imported Rule rarep" stopProcessing="true">
                    <match url="rarespreview/([^/]+)/([^/]+)" ignoreCase="false"/>
                    <action type="Rewrite" url="/index.php?url=rarespreview&amp;id={R:1}&amp;categoria={R:2}" appendQueryString="false"/>
                </rule>
                <rule name="Imported Rule home" stopProcessing="true">
                    <match url="home/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false"/>
                    <action type="Rewrite" url="/index.php?url=home&amp;user={R:1}" appendQueryString="false"/>
                </rule>
                <rule name="Imported Rule profile" stopProcessing="true">
                    <match url="profile/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false"/>
                    <action type="Rewrite" url="/index.php?url=profile&amp;user={R:1}" appendQueryString="false"/>
                </rule>

                <rule name="Imported Rule HK Users" stopProcessing="true">
                    <match url="adminpan/gebruiker/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false"/>
                    <action type="Rewrite" url="/adminpan/index.php?url=gebruiker&amp;user={R:1}" appendQueryString="false"/>
                </rule>
                <rule name="Imported Rule HK Sollielook" stopProcessing="true">
                    <match url="adminpan/sollielook/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false"/>
                    <action type="Rewrite" url="/adminpan/index.php?url=sollielook&amp;look={R:1}" appendQueryString="false"/>
                </rule>
                <rule name="Imported Rule HK DeleteNews" stopProcessing="true">
                    <match url="adminpan/news/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false"/>
                    <action type="Rewrite" url="/adminpan/index.php?url=news&amp;delete={R:1}" appendQueryString="false"/>
                </rule>
                <rule name="Imported Rule HK Deleteventos" stopProcessing="true">
                    <match url="adminpan/eventos/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false"/>
                    <action type="Rewrite" url="/adminpan/index.php?url=eventos&amp;delete={R:1}" appendQueryString="false"/>
                </rule>
                <rule name="Imported Rule HK DeleteSollie" stopProcessing="true">
                    <match url="adminpan/sollielook/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false"/>
                    <action type="Rewrite" url="/adminpan/index.php?url=sollielook&amp;delete={R:1}" appendQueryString="false"/>
                </rule>
                <rule name="Imported Rule HK EditNews" stopProcessing="true">
                    <match url="adminpan/news/edit/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false"/>
                    <action type="Rewrite" url="/adminpan/index.php?url=editnews&amp;news={R:1}" appendQueryString="false"/>
                </rule>
                <rule name="Imported Rule HK Editeventos" stopProcessing="true">
                    <match url="adminpan/eventos/edit/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false"/>
                    <action type="Rewrite" url="/adminpan/index.php?url=eventosedit&amp;news={R:1}" appendQueryString="false"/>
                </rule>
                <rule name="Imported Rule HK DeleteBan" stopProcessing="true">
                    <match url="adminpan/bans/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false"/>
                    <action type="Rewrite" url="/adminpan/index.php?url=bans&amp;delete={R:1}" appendQueryString="false"/>
                </rule>
                <rule name="Imported Rule HK DeletePublics" stopProcessing="true">
                    <match url="adminpan/publics/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false"/>
                    <action type="Rewrite" url="/adminpan/index.php?url=publics&amp;delete={R:1}" appendQueryString="false"/>
                </rule>
                <rule name="Imported Rule HK GiveUODW" stopProcessing="true">
                    <match url="adminpan/giveuseroftheweek/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false"/>
                    <action type="Rewrite" url="/adminpan/index.php?url=giveuseroftheweek&amp;user={R:1}" appendQueryString="false"/>
                </rule>
                <rule name="Imported Rule HK show cata" stopProcessing="true">
                    <match url="adminpan/catalog/view/([0-9_-]+)(|/)$" ignoreCase="false"/>
                    <action type="Rewrite" url="/adminpan/index.php?url=catalog&amp;view_id={R:1}" appendQueryString="false"/>
                </rule>

                <rule name="Imported Rule User Ref" stopProcessing="true">
                    <match url="register/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false"/>
                    <action type="Rewrite" url="/index.php?url=register&amp;userref={R:1}" appendQueryString="false"/>
                </rule>
                <rule name="Imported Rule User Pas" stopProcessing="true">
                    <match url="newpassword/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false"/>
                    <action type="Rewrite" url="/index.php?url=newpassword&amp;key={R:1}" appendQueryString="false"/>
                </rule>

                <rule name="HBG-Xdr">
                    <match url="^habbo-imaging/badge/(.*)" ignoreCase="false"/>
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
                    <action type="Rewrite" url="habbo-imaging/badge.php?badge={R:1}"/>
                </rule>

                <rule name="getclientconfig">
                    <match url="api/getclientconfig" ignoreCase="false"/>
                    <action type="Rewrite" url="/templates/api/getclientconfig.php" appendQueryString="false"/>
                </rule>

                <rule name="getssoticketweb">
                    <match url="api/getssoticketweb" ignoreCase="false"/>
                    <action type="Rewrite" url="/templates/api/getssoticketweb.php" appendQueryString="false"/>
                </rule>

                <rule name="getclientconfig beta3">
                    <match url="NN9pDsDun16V3TZfb1GZ/NN9pDsDun16V3TZfb1GZ/NN9pDsDun16V3TZfb1GZ/wRPkxygJBcXMbulvqG7m" ignoreCase="false"/>
                    <action type="Rewrite" url="/templates/api/getclientconfigbeta.php" appendQueryString="false"/>
                </rule>

                <rule name="getssoticketweb beta2">
                    <match url="NN9pDsDun16V3TZfb1GZ/NN9pDsDun16V3TZfb1GZ/NN9pDsDun16V3TZfb1GZ/SIU5A8clQdoImYrFWyQn" ignoreCase="false"/>
                    <action type="Rewrite" url="/templates/api/getssoticketwebbeta.php" appendQueryString="false"/>
                </rule>

                <rule name="Imported Rule beta1">
                    <match url="NN9pDsDun16V3TZfb1GZ/NN9pDsDun16V3TZfb1GZ/NN9pDsDun16V3TZfb1GZ/2cOxfxkAyWtKxnWIeWH3" ignoreCase="false"/>
                    <action type="Rewrite" url="/templates/api/getclientdatabeta.php" appendQueryString="false"/>
                </rule>
            </rules>
        </rewrite>

        <staticContent>
            <remove fileExtension=".woff"/>
            <remove fileExtension=".woff2"/>
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
            <mimeMap fileExtension=".nitro" mimeType="application/octet-stream"/>
        </staticContent>

        <defaultDocument>
            <files>
                <clear/>
                <add value="index.php"/>
                <add value="Default.htm"/>
                <add value="Default.asp"/>
                <add value="index.htm"/>
                <add value="index.html"/>
                <add value="iisstart.htm"/>
                <add value="default.aspx"/>
            </files>
        </defaultDocument>

        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="4294967295">
                    <headerLimits>
                        <add header="content-type" sizeLimit="100"/>
                    </headerLimits>
                </requestLimits>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
