<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Regla 1 importada">
                    <match url="^([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 2 importada">
                    <match url="^news/edit/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=editnews&amp;news={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 3 importada">
                    <match url="^publics/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=publics&amp;delete={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 4 importada">
                    <match url="^news/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=news&amp;delete={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 5 importada">
                    <match url="^bans/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=bans&amp;delete={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 6 importada">
                    <match url="^catalogme/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=catalogme&amp;delete={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 7 importada">
                    <match url="^report/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=report&amp;delete={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 8 importada">
                    <match url="^badge/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=shop&amp;delete={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 9 importada">
                    <match url="^gebruiker/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=gebruiker&amp;user={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 10 importada">
                    <match url="^zoekgebruiker/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="zoekgebruiker.php?user={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 11 importada">
                    <match url="^gebrank/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=gebrank&amp;user={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 12 importada">
                    <match url="^giveuseroftheweek/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=giveuseroftheweek&amp;user={R:1}" appendQueryString="false" />
                </rule>

				<rule name="Regla 13 importada">
                    <match url="^badge/edit/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=editbagdesshop&amp;badge={R:1}" appendQueryString="false" />
                </rule>
				<rule name="Regla 14 importada">
                    <match url="^publicroom/edit/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=editpublicroom&amp;publicroom={R:1}" appendQueryString="false" />
                </rule>
				 <rule name="Regla 15 importada">
                    <match url="^publicroom/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=publicroom&amp;delete={R:1}" appendQueryString="false" />
					</rule>
					 <rule name="Regla 16 importada">
                    <match url="^report/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=report&amp;delete={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 17 importada">
                    <match url="^gebrank/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=gebrank&amp;user={R:1}" appendQueryString="false" />
                </rule>
				
					 <rule name="Regla 18 importada">
                    <match url="^eventos/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=eventos&amp;delete={R:1}" appendQueryString="false" />
                </rule>
				
				
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
