<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Regla 1 importada">
                    <match url="^([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 2 importada">
                    <match url="^news/edit/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=editnews&amp;news={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 3 importada">
                    <match url="^publics/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=publics&amp;delete={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 4 importada">
                    <match url="^news/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=news&amp;delete={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 5 importada">
                    <match url="^bans/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=bans&amp;delete={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 6 importada">
                    <match url="^catalogme/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=catalogme&amp;delete={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 7 importada">
                    <match url="^report/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=report&amp;delete={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 8 importada">
                    <match url="^badge/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=shop&amp;delete={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 9 importada">
                    <match url="^gebruiker/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=gebruiker&amp;user={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 10 importada">
                    <match url="^zoekgebruiker/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="zoekgebruiker.php?user={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 11 importada">
                    <match url="^gebrank/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=gebrank&amp;user={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 12 importada">
                    <match url="^giveuseroftheweek/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=giveuseroftheweek&amp;user={R:1}" appendQueryString="false" />
                </rule>
				<rule name="Regla 13 importada">
                    <match url="^badge/edit/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=editbagdesshop&amp;badge={R:1}" appendQueryString="false" />
                </rule>
				<rule name="Regla 14 importada">
                    <match url="^publicroom/edit/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=editpublicroom&amp;publicroom={R:1}" appendQueryString="false" />
                </rule>
				 <rule name="Regla 15 importada">
                    <match url="^publicroom/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=publicroom&amp;delete={R:1}" appendQueryString="false" />
					</rule>
					 <rule name="Regla 16 importada">
                    <match url="^report/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=report&amp;delete={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 17 importada">
                    <match url="^gebrank/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=gebrank&amp;user={R:1}" appendQueryString="false" />
                </rule>
				<rule name="Regla 18 importada">
                    <match url="^eventos/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=eventos&amp;delete={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 19 importada">
                    <match url="^clones/edit/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=clonesedit&amp;clon={R:1}" appendQueryString="false" />
                </rule>
				<rule name="Regla 20 importada">
                    <match url="^editfurni/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=editfurni&amp;id={R:1}" appendQueryString="false" />
                </rule>
				<rule name="Regla 21 importada">
                    <match url="^editrare/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=editrare&amp;id={R:1}" appendQueryString="false" />
                </rule>
				<rule name="Regla 23 importada">
                    <match url="^cataloguesections2/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=cataloguesections2&amp;id={R:1}" appendQueryString="false" />
                </rule>
				<rule name="Regla 24 importada">
                    <match url="^editpage/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=editpage&amp;id={R:1}" appendQueryString="false" />
                </rule>
				<rule name="Regla 25 importada">
                    <match url="^editmueble/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=editmueble&amp;id={R:1}" appendQueryString="false" />
                </rule>
				<rule name="Regla 26 importada">
                    <match url="^editmuebles/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=editmuebles&amp;id={R:1}" appendQueryString="false" />
                </rule>
				<rule name="Regla 27 importada">
                    <match url="^editpermissions/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=editpermissions&amp;id={R:1}" appendQueryString="false" />
                </rule>
				<rule name="Regla 28 importada">
                    <match url="^vervacantes/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=vervacantes&amp;id={R:1}" appendQueryString="false" />
                </rule>
				<rule name="Regla 29 importada">
                    <match url="^catalogpages/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=pagescatalog&amp;delete={R:1}" appendQueryString="false" />
                </rule>
				<rule name="Regla 30 importada">
                    <match url="^editcomandos/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=editcomandos&amp;id={R:1}" appendQueryString="false" />
                </rule>
				<rule name="Regla 31 importada">
                    <match url="^editsalas/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=editsalas&amp;id={R:1}" appendQueryString="false" />
                </rule>
				<rule name="Regla 32 importada">
                    <match url="^edittareas/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=edittareas&amp;id={R:1}" appendQueryString="false" />
                </rule>
				<rule name="Regla 33 importada">
                    <match url="^tareas/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=tareas&amp;delete={R:1}" appendQueryString="false" />
                </rule>
				 <rule name="Regla 34 importada">
                    <match url="^editfurniture/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=editfurniture&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 35 importada">
                    <match url="^editfurnitures/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=editfurnitures&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 36 importada">
                    <match url="^editgroups/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=editgroups&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 37 importada">
                    <match url="^groups/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=groups&amp;delete={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 38 importada">
                    <match url="^editroleplay/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=editroleplay&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 39 importada">
                    <match url="^roleplayitems/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=roleplayitems&amp;delete={R:1}" appendQueryString="false" />
                </rule>
				<rule name="Regla 40 importada">
                    <match url="^editroleplay/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=editroleplay&amp;delete={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 41 importada">
                    <match url="^salas/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=salas&amp;delete={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 42 importada">
                    <match url="^editinfosindex/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=editinfosindex&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 43 importada">
                    <match url="^infosindex/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=infosindex&amp;delete={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 44 importada">
                    <match url="^editfansites/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=editfansites&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 45 importada">
                    <match url="^fansites/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=fansites&amp;delete={R:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
