body{
    font-family: 'Montserrat', sans-serif;   
    background-image:url(../img/bg.png);

}
body::-webkit-scrollbar {
    width: 5px;
    background-color: #ffffff;
 }
 body::-webkit-scrollbar-track {
    background-color: rgba(38, 50, 56, 0.19);
 }
 body::-webkit-scrollbar-thumb {
    background-color: #4272d7;
    border-radius: 10px;
 }
.logo{
    margin-top: 3em;
}
.parallax-container {
    height: 560px;
}
.icon-card{
    background-color: #4272d7;
    padding: 7px;
    border-radius: 3px;
    color: #fff;
}

.slogan, h3{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-shadow: 0.1em 0.1em #333;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #FFFFFF; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
    typing 2.5s steps(30, end),
    blink-caret .7s step-end infinite;
  }
  
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% {}
  }

  .page-footer{
    background-color:#4272d7;
  }
  .staffbox{
    width: 318px;
    margin: 4px 13px 3px 0px;
    padding: 3px 4px 5px 4px;
    height: 75px;
    overflow: hidden;
}
.bodybox{
    float: left;
    margin-right: 10px;
    height:50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
}
.staffname{
    float: left;
    width: calc(100% - 82px);
    overflow: hidden;
    font-weight: bold;
    color: #FFF;
    max-height: 33px;
    font-size: 104%;
    line-height: 16px;
}
.description-rank{
    float: left;
    color:#FFF;
}
.users-ons{
    background-color:rgba(255,255,255,0.5);
    width: 200px;
    margin-top:10px;
    padding:5px;
    border-radius: 15px;
    color:#FFF;
    font-weight: bold;
}

.navb{
    position: relative;
    bottom: 33px;
    border-radius: 35px;
    color:#000;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.38);
}
@media only screen and (min-width: 601px){
    .staffbox-me{
        margin:4px 2px 0px;
    }
}
.staffbox-me{
    padding: 3px 4px 5px 4px;
    overflow: hidden;
}
.bodybox-me{
    float: left;
    margin-right: 10px;
    height:50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
}
.staffname-me{
    overflow: hidden;
    color: #000;
    max-height: 33px;
    font-size: 104%;
    line-height: 50px;
}
nav ul a:hover{
   background-color: rgba(0,0,0,0.0);
}
.dropdown-content li > a, .dropdown-content li > span{
    color:#4272D7;
}
.dropdown-content{
    border-radius:10px;
}
.card-me{
    border-radius:10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.38);
}
.card .card-image img{
    border-radius:10px 10px 0px 0px;
}
.profile-img{
    width:150px;
    height:150px;
    border-radius: 50%;
    background-repeat:no-repeat;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.38);
    position: absolute;
    left: 34%;
    top: 70%;
    background-color:#fff;
}

.profile-img .profileim{
    
    overflow: hidden;

}
.card-content-me{
    margin-top: 5em;
}
.btn-me{
    width: 100%;
    border-radius:24px;
    background-color:#4272D7;
    margin-top: 5px;
}
.btn-me:hover{
    background-color:#1A54CF;
}
.btn-panel{
    width: 100%;
    border-radius:24px;
    background-color:#E53935;
    margin-top: 5px;
}
.btn-panel:hover{
    background-color:#c62828;

}
.button-edit{
position: absolute;
left: 81%;
background-color:#4272D7;
margin-top:20px;

}
.button-edit:hover{
    background-color:#1A54CF;
}
.btn-news{
    border-radius:24px;
    background-color:#4272D7;
}
.btn-news:hover{
    background-color:#1A54CF;
}
[type="radio"].with-gap:checked + label::before{
    border: 2px solid #1A54CF;
}
[type="radio"]:checked + label::after, [type="radio"].with-gap:checked + label::after{
    background-color: #1A54CF;

}
[type="radio"]:checked + label::after, [type="radio"].with-gap:checked + label::after{
    border: 2px solid #1A54CF;
}
.collection .collection-item.avatar.team{
    padding-left: 0px;
    min-height: 0px;
}
.side-nav li>a:hover{
    transition: 0.1s;
    border-left: 3px solid #1A54CF;
    color:#1A54CF;
}

.username-profile{
    position: absolute;
    top: 60%;
    color:
    #FFF;
    text-shadow: 0.08em 0.08em rgba(0,0,0,0.7);
    font-size: 29px;

}
.badgebody{
    background-color: #e0e0e0;
    width: 100px;
    height: 75px;
    border-radius: 5px;
    margin: 2px;
    float:left;
}
.badgebody:hover{
    background-color: #1A54CF;
    transition:0.4s;
}
.groupbadge{
    background-color: #e0e0e0;
    width: 100px;
    height: 75px;
    border-radius: 5px;
    float: left;
    margin: 2px;
}
.groupbadge:hover{
    background-color: #1A54CF;
    transition:0.4s;
    
}
.groupdesc{
    color:#000;
}
.groupbadge:hover .groupdesc{
    color:#FFFFFF;
}
.grouproom{
    background-color: #b4b3aa;
    width: 100px;
    height: 75px;
    border-radius: 5px;
    margin: 2px;
}
.grouproom .groupdesc{
    position: relative;
    top: 100px;
    right: 55px;
}
.new-content{
    position: relative;
    bottom: 20px;
}
.hr-new{
    height:2px;
    border-radius:10px;
    border:none;
    background-color:#4272d7;
}