#loader-wrapper {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 1000;
}
#hotel {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../img/banzai.png') center center;
    background-repeat: no-repeat;
    z-index: 1000;
}
#loader {
    background: url(https://i.imgur.com/bEV8E3Z.png) repeat fixed;
    padding-top: 240px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    z-index: 1001;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 3px;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 10000;
    overflow: hidden;
}
.loading_bar {
    display: block;
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 1px;
    height: 22px;
    z-index: 1001;
    width: 348px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}
#loader_bar.percent {
  background: #bdcad2;
  background: linear-gradient(to bottom, #ffdf00 50%, #ffce00 50%);
  display: block;
  height: 100%;
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all ease 0.9s;
  width: 3%;
}

@font-face {
    font-family: 'volter_goldfishregular';
    src: url('https://www.hevvo.net/client_design/fonts/Volter_28Goldfish_29.woff2') format('woff2'),
         url('https://www.hevvo.net/client_design/fonts/Volter_28Goldfish_29.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.loader-heading{
    text-align: center;
    margin: 0 auto;
    font-size: 10px;
    padding: 5px 0;
    font-weight: bold;
    color: white;
    font-family: "Ubuntu", "Arial";
}
#loader-wrapper .loader-section {
     position: fixed;
     width: 100%;
     height: 50%;
     z-index: 1000;
    background:#000;
}
#loader-wrapper .loader-section.section-top {
     top: 0;
     left:0;
     right:0;
     background-color: #000;
}
#loader-wrapper .loader-section.section-bottom {
     bottom: 0;
     left:0;
     right:0;
     background-color: #000;
}
/* Loaded styles */

.loaded #loader-wrapper .loader-section.section-top {
     -webkit-transform: translateY(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
     -ms-transform: translateY(-100%);
    /* IE 9 */
     transform: translateY(-100%);
    /* Firefox 16+, IE 10+, Opera */
     -webkit-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6 */
     transition: all 1s 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+ */
    background-attachment: fixed;
}
.loaded #loader-wrapper .loader-section.section-bottom {
     -webkit-transform: translateY(100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
     -ms-transform: translateY(100%);
    /* IE 9 */
     transform: translateY(100%);
    /* Firefox 16+, IE 10+, Opera */
     -webkit-transition: all 1s 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6 */
     transition: all 1s 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+ */
    background-attachment: fixed;
}
.loaded #loader, .loaded #hotel {
     opacity: 0;
     -webkit-transition: all 0.5s ease-out;
    /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6 */
     transition: all 0.5s ease-out;
    /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+ */
}
.loaded #loader-wrapper {
     visibility: hidden;
     opacity: 0;
    /* Firefox 16+, IE 10+, Opera */
     -webkit-transition: all 0.3s 1s ease-out;
    /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6 */
     transition: all 0.3s 1s ease-out;
    /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+ */
}