#flash{
				background-image: url(https://i.imgur.com/RNy0EBB.png);
				background-repeat: no-repeat;
				background-color: #000000;
				background-position: center;
				background-position-y: 0px;
				width: 100%;
				height: 100%;
				font-size: 16px;
			}
			#container{
				width: 640px;
				height: 360px;
				background-color: #000000;
				position: relative;
				margin: auto;
				top: 145px;
				font-family:Verdana,Arial,Helvetica,sans-serif;
			}
			h1{
				font-family: calibri;
				color: white;
				text-align: center;
				font-size: 40px;
			}
			body{
				background-color: #000000;
				background-image: url(../../v2/images/bg.png);
				color: whitesmoke;
				font-family: Verdana,Arial,Helvetica,sans-serif;
				text-align: center;
				margin: 0;
				padding: 0;
			}
			
			#ads-box {
				position: absolute;
				width: 740px;
				height: 191px;
				top: 0;
				left: 50%;
				transform: translate(-50%, 0%);
				-webkit-transform: translate(-50%, 0%);
				z-index: 3;
				background-image: url(../web-gallery/static/images/ads_top.png);
				display: none;
			}

			#ads-box > #close {
				z-index: 1;
				position: absolute;
				top: 150px;
				right: 80px;
				border-radius: 2px;
				padding: 2px;
				font-size: 5pt;
				color: red;
				background: white;
				box-shadow: 0 0 2px white;
				cursor: pointer;
			}

			#ads-box > #ads {
				width: 728px;
				height: 90px;
				margin-top: 92px;
				margin-left: 6px;
			}
			
			#loader{
				position: absolute;
				top: 0;
				left: 0;
				margin: 0;
				width: 100%;
				height: 100%;
				background-color: #0F151B;
				z-index: 2;
			}
			
			#loader-image{
				position: absolute;
				top: 0;
				left: 0;
				margin: 0;
				width: 100%;
				height: 100%;
				background-color: #0F151B;
				background-repeat: no-repeat;
				background-image: url(/client_design/loader/hotelview_xmas10_sk.png);
				background-position:center;
				
				background-size: cover;
				image-rendering: pixelated;
				opacity: .25;
				 /*<!--Esto es especial para loader R36, para el resto comentar estas 3 líneas -->*/
			}
			
			#loader-container{
				position: absolute;
				left: 40%;
				top: 35%;
				width: 400px;
				height: 250px;
				z-index: 10;
				border-radius: 14px;
				
				
				background-color: #00000059;
				/*<!-- Esto es especial para loader R36, para el resto poner más oscuro -->*/
				
			}
			
			#loader-box{
				margin-top: -15px;
			}
			
			#percentage-bar{
				margin: 0 auto;
				width: 350px;
				height: 24px;
				border: 1px solid #FFF;
				padding: 3px;
				margin-top: -30px;
			}
			
			#bar{
			    height: 24px;
				background-image: linear-gradient(to bottom, #bacad3 50%, #8ca1ad 50%);
			}
			
			/* Event */
			.eventBase {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    background: red;
    height: 0;
    width: 100%;
    box-shadow: 0 30px 220px 70px #000;
    display: none;
}

.eb-content {
    position: absolute;
    width: 100%;
    height: 130px;
    top: -200px;
}

.eb-decline:hover{transform:scale(.9)}.eb-decline:active{transform:scale(.95)}
.eb-go:hover{transform:scale(.9)}.eb-go:active{transform:scale(.95)}

.eb-decline {
    position: absolute;
    cursor: pointer;
    image-rendering: pixelated;
    transition: .1s;
    height: 119px;
    width: 152px;
    background: url(/client_design/img/events.png);
    left: 105px;
    top: 31px;
}

.eb-go {
    position: absolute;
    cursor: pointer;
    image-rendering: pixelated;
    transition: .1s;
    height: 119px;
    width: 153px;
    background: url(/client_design/img/events.png) -151px 0;
    right: 59px;
    top: 28px;
}

.eb-head {
    position: absolute;
    height: 66px;
    width: 72px;
    left: calc(50% - 35px);
    top: 26px;
    background: url(/client_design/img/events.png) -305px -2px;
}

.eb-desc {
    position: absolute;
    font-size: 200%;
    color: #fff;
    width: 700px;
    left: calc(50% - 350px);
    word-break: break-word;
    text-align: center;
    top: 92px;
}