body {
  background: #222;
  font-family: arial;
  margin: 0;
}

#webcenter {
  background: #222222bf;
  padding-left: 20px;
  height: 130px;
  padding-right: 20px;
  border-radius: 10px;
}
#b1 {
  position: relative;
  height: 130px;
  background: url(../images/backgroud-junino.png);
  padding: 10px;
}

#b2 {
  position: relative;
  height: 100%;
  width: 85px;
  float: left;
  color: #f3f3f3;
  font-size: 140%;
  text-align: center;
  cursor: pointer;
  margin-right: 13px;
  text-align: center;
  margin-left: 20px;
}

#b3 {
  position: relative;
  height: 74px;
  width: 74px;
  left: 50%;
  margin-left: -37px;
  background: #ccccccbf;
  transition: 0.3s;
  border-radius: 100%;
  margin-top: 15px;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#b3inven {
  position: relative;
  height: 80px;
  top: 25px;
  width: 50px;
  background: #21679487;
  border-radius: 12px;
  float: right;
  transition: 0.3s;
  cursor: pointer;
}
#b3invenicone {
  position: absolute;
  height: 62px;
  width: 60px;
  background: url(../images/pageboutique1.png?5g5g) -402px -518px;
  top: 10px;
  left: -25px;
}

#b3invtext {
  position: absolute;
  font-size: 170%;
  color: #ffffff;
  left: 50px;
  top: 24px;
}

#b4 {
  position: relative;
  height: 260px;
  width: 100%;
  margin-right: 13px;
  float: left;
  margin-top: 20px;
}

#b4x {
  position: relative;
  height: 260px;
  width: calc(100% - 340px);
  margin-right: 13px;
  float: left;
  margin-top: 20px;
}

#b5 {
  position: relative;
  color: #cd8754;
  font-size: 210%;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#b5a {
  position: absolute;
  height: 32px;
  width: 158px;
  background: #cd8754;
  right: 0;
  top: 8px;
  border-radius: 6px;
  color: #fff;
  font-size: 120%;
  cursor: pointer;
}

#b5a:hover {
  opacity: 0.7;
}

#b5b {
  position: absolute;
  height: 40px;
  width: 45px;
  background: url(../images/pageboutique1.png?5g5g) -304px -515px;
  left: 10px;
  top: -5px;
}

#b5c {
  position: absolute;
  right: 20px;
  top: 4px;
}

#b6 {
  position: relative;
  background: #cd8754;
  width: 100%;
  height: 190px;
  border-radius: 5px;
}

#b7 {
  position: absolute;
  width: 215px;
  height: 145px;
  background: #ffcd00;
  border: 1px solid #000;
  left: -48px;
  top: 20px;
}

#b8 {
  position: absolute;
  left: 37px;
  top: 17px;
  color: #683202;
  font-size: 130%;
}

#b9 {
  position: absolute;
  height: 28px;
  width: 34px;
  background: url(../images/pageboutique1.png?5g5g) -168px -130px;
  left: -12px;
  top: 47px;
}

#b10 {
  position: absolute;
  height: 30px;
  width: 30px;
  background: url(../images/pageboutique1.png?5g5g) -208px -130px;
  left: 34px;
  top: 47px;
}

#b11 {
  position: absolute;
  left: 70px;
  top: 52px;
  color: #683202;
  font-size: 100%;
}

#b12 {
  position: absolute;
  width: 100%;
  height: 55px;
  background: #ffe700;
  bottom: 0;
}

#b13 {
  position: relative;
  color: #fff;
  left: 185px;
  top: 16px;
  font-size: 120%;
  width: calc(100% - 200px);
  word-wrap: break;
  height: 150px;
  overflow: hidden;
}

#b14 {
  position: relative;
  width: 327px;
  float: left;
  margin-top: 28px;
}

#b15 {
  position: relative;
  height: 111px;
  width: 100%;
  background: #52a2ca;
  border-radius: 5px;
  margin-bottom: 14px;
  cursor: pointer;
}

#b15:hover {
  opacity: 0.7;
}

#b15:active {
  opacity: 0.9;
}

#b16 {
  position: absolute;
  right: 10px;
  top: 0;
  background: url(../images/pageboutique1.png?5g5g) -298px 0;
  width: 95px;
  height: 103px;
}

#b17 {
  position: absolute;
  color: #fff;
  font-size: 140%;
  left: 25px;
  top: 43px;
}

#b20 {
  position: relative;
  font-size: 200%;
  color: #08a3b9;
  margin-bottom: 12px;
}

#b21 {
  position: relative;
  background: #d6d6ce;
  width: 100%;
  height: 190px;
}

#b22 {
  position: absolute;
  height: 160px;
  width: 160px;
  background: url(../images/pageboutique1.png?5g5g);
  left: -45px;
  top: 15px;
}

#b23 {
  position: relative;
  left: 130px;
  width: calc(100% - 140px);
  top: 15px;
  overflow: hidden;
  height: 150px;
  word-wrap: break;
}

#b24 {
  position: relative;
  background: #aeaea8;
  color: #fff;
  font-size: 145%;
  font-weight: 700;
  padding: 10px;
  width: 350px;
  border-radius: 7px;
}

#b25 {
  position: relative;
  color: #000;
  font-size: 125%;
  top: 15px;
}

#b26 {
  position: relative;
  width: 370px;
  height: 600px;
  float: left;
  margin-right: 15px;
  margin-bottom: 20px;
}

#b27 {
  position: relative;
  height: 140px;
  width: 370px;
  border-radius: 5px;
  background: #fff;
  display: flex;
  justify-content: center;
  margin-bottom: 14px;
  cursor: pointer;
  transition: 0.3s;
}

#b27:hover #b29 {
  transform: scale(1.5);
}

#b27:hover {
  opacity: 0.7;
}

#b29 {
  position: relative;
  height: 100%;
  transition: 0.4s;
  width: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-filter: drop-shadow(2px 1px 0 #fff) drop-shadow(-2px 1px 0 #fff)
    drop-shadow(0 -2px 0 #fff);
  float: left;
}

#b30 {
  position: relative;
  width: calc(100% - 385px);
  height: 600px;
  float: left;
  overflow: hidden;
}

#b30n {
  position: relative;
  width: 1300px;
}

#b31 {
  position: relative;
  float: left;
  height: 100%;
  width: 260px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 15px;
  background: #d6d6ce;
  cursor: pointer;
}

#b31:hover {
  opacity: 0.7;
}

#b31:active {
  transform: scale(0.98);
}

#b32 {
  position: absolute;
  padding: 15px;
  background: rgba(0, 0, 0, 0.6);
  bottom: 25px;
  color: #fff;
  font-size: 125%;
}

#b33 {
  position: absolute;
  height: 100%;
  width: 0;
  box-shadow: 0 0 150px 70px #e9e9e1;
  right: 0;
}

#b34 {
  position: relative;
  color: #8798a1;
  font-size: 200%;
  margin-bottom: 13px;
}

#b38 {
  position: relative;
  height: 100px;
  width: calc(33.33% - 15px);
  background: #fff;
  margin-bottom: 30px;
  float: left;
  margin-right: 15px;
  cursor: pointer;
}

#b38:hover {
  opacity: 0.7;
}

#b38:active {
  opacity: 0.9;
}

#b38n {
  width: calc(100% + 15px);
}

#b39 {
  position: absolute;
  height: 180px;
  width: 110px;
  top: -80px;
  left: -10px;
}

#b40 {
  position: absolute;
  left: 110px;
  width: calc(100% - 130px);
  height: 80px;
  top: 7px;
  overflow: hidden;
}

#b279 {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(../images/backgroud-junino.png);
  background-repeat: no-repeat;
  opacity: 0.7;
}

#b280 {
  position: absolute;
  left: calc(50% - 700px);
  border-style: solid;
  border-width: 1200px 700px 0;
  border-color: #292929f2 transparent transparent transparent;
}

#b281 {
  position: absolute;
  height: 330px;
  width: 260px;
  bottom: 0;
  left: 0;
  background: url(../images/page_converter.png?5g5g) 0 -210px;
}

#b282 {
  position: absolute;
  height: 311px;
  width: 262px;
  bottom: 0;
  right: 0;
  background: url(../images/page_converter.png?5g5g) -270px -206px;
}

#b283 {
  position: absolute;
  height: 70px;
  width: 625px;
  border-radius: 8px;
  background: #ffffff40;
  margin-top: 20px;
  left: 10%;
}

#b284 {
  position: absolute;
  height: 90px;
  width: 90px;
  top: -12px;
  left: 0;
  background: url(../images/page_converter.png?5g5g) -2px -550px;
}

#b285 {
  position: absolute;
  font-size: 240%;
  color: #fff;
  left: 110px;
  top: 13px;
}

#b286 {
  position: absolute;
  height: 345px;
  width: 425px;
  margin-top: 120px;
  left: calc(50% - 212px);
}

#b287 {
  position: absolute;
  height: 210px;
  width: 274px;
  left: 80px;
  background: url(../images/page_converter.png?5g5g);
}

#b288 {
  position: absolute;
  height: 190px;
  width: 274px;
  top: -3px;
  left: 78px;
  background: url(../images/page_converter.png?5g5g) -260px 0;
}

#b289 {
  position: absolute;
  cursor: pointer;
  transition: 0.08s;
  image-rendering: pixelated;
  height: 60px;
  width: 40px;
  background: url(../images/page_converter.png?5g5g) -152px -555px;
  top: 98px;
}

#b289:hover {
  transform: scale(1.5);
}

#b289:active {
  transform: scale(1);
}

#b290 {
  position: absolute;
  cursor: pointer;
  transition: 0.08s;
  image-rendering: pixelated;
  height: 60px;
  width: 40px;
  background: url(../images/page_converter.png?5g5g) -200px -555px;
  top: 95px;
  right: 0;
}

#b290:hover {
  transform: scale(1.5);
}

#b290:active {
  transform: scale(1);
}

#b291 {
  position: absolute;
  left: 110px;
  border: 0;
  color: #fff;
  top: 190px;
  border-bottom: 2px solid #fff;
  text-align: center;
  padding: 0 10px 1px;
  font-family: arial;
  font-size: 500%;
  width: 180px;
  background: 0 0;
}

#b292 {
  position: absolute;
  height: 95px;
  width: 630px;
  background: #ffffff40;
  bottom: 0;
  left: calc(50% - 315px);
  padding-left: 20px;
}

#b293 {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 22px;
  background: url(../images/credits.png);
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(2);
  image-rendering: pixelated;
}

#b294 {
  position: absolute;
  font-size: 160%;
  color: #fff;
  left: 75px;
  top: 26px;
}

#b295 {
  position: absolute;
  cursor: pointer;
  padding: 10px 30px;
  background: #232323;
  color: #fff;
  font-size: 160%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 20px;
  top: 15px;
}

#b296 {
  position: absolute;
  padding: 3px;
  background: #ff8034;
  color: #fff;
}

#b297 {
  position: relative;
  height: 66px;
  width: calc(14.28% - 30px);
  cursor: pointer;
  margin-right: 10px;
  background: #fff;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  display: flex;
  border-radius: 10px;
  float: left;
}

#b297:hover {
  opacity: 0.7;
}

#b298 {
  position: relative;
  font-size: 120%;
  float: left;
  margin-left: 5px;
  top: 2px;
}

#b299 {
  position: relative;
  height: 80px;
  width: calc(100% + 10px);
}
#boutiqueload {
  position: fixed;
  height: 80%;
  width: 100%;
  z-index: 9999999;
  top: 150px;
  display: none;
}
.indexinput {
  border-radius: 2px;
  position: relative;
  width: 315px;
  height: 55px;
  background: rgb(245, 245, 245);
  border: 0;
  color: rgb(127, 127, 127);
  font-family: unset;
  font-size: 25px;
  padding-left: 25px;
}
.indexinputloteria {
  border-radius: 5px;
  position: relative;
  width: 329px;
  height: 55px;
  background: rgb(245, 245, 245);
  border: 0;
  color: rgb(127, 127, 127);
  font-family: unset;
  font-size: 15px;
  text-align: center;
}
#b62 {
  position: relative;
  cursor: pointer;
  margin-top: -67px;
  bottom: 50px;
  transition: 0.05s;
  padding: 0px 25px 0px 25px;
  height: 75px;
  background: rgb(48, 177, 24);
  border-bottom: 4px solid rgb(37, 115, 23);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 220%;
  color: white;
}

#buttombadgegreen {
  position: relative;
  cursor: pointer;
  margin-top: -67px;
  bottom: 50px;
  transition: 0.05s;
  padding: 0px 25px 0px 25px;
  height: 75px;
  background: rgb(48, 177, 24);
  border-bottom: 4px solid rgb(37, 115, 23);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 220%;
  color: white;
}

#buttomloteria {
  position: relative;
  cursor: pointer;
  margin-top: 70px;
  bottom: 50px;
  transition: 0.05s;
  padding: 0px 25px 0px 25px;
  height: 75px;
  background: rgb(48, 177, 24);
  border-bottom: 4px solid rgb(37, 115, 23);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100%;
  color: white;
}
#buttombadgebuyed {
  position: relative;
  cursor: pointer;
  margin-top: -67px;
  bottom: 50px;
  transition: 0.05s;
  padding: 0px 25px 0px 25px;
  height: 75px;
  background: rgb(48, 177, 24);
  border-bottom: 4px solid rgb(37, 115, 23);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 220%;
  color: white;
}
#b63 {
  position: absolute;
  top: 2px;
  left: 4px;
  width: calc(100% - 8px);
  height: 6px;
  background: rgba(255, 255, 255, 0.3);
}
#b37 {
  position: relative;
  left: 10px;
  color: white;
  width: calc(100% - 10px);
}
#bdiamants {
  position: relative;
  width: 45px;
  height: 45px;
  background: url(../images/pageboutique1.png?5x5x) -6px -177px;
  float: left;
}
#b64 {
  position: fixed;
  width: 100%;
  z-index: 99999999;
  display: flex;
  justify-content: center;
}
#b65 {
  position: fixed;
  right: 40px;
  top: 175px !important;
  height: 60px;
  background: rgba(0, 0, 0, 0.48);
  color: white;
  font-size: 170%;
  padding: 0px 20px 0px 20px;
  border-radius: 6px;
  transition: 0.3s;
  z-index: 99999999;
}

#btxtvip {
  margin-top: 5px;
}
#b66 {
  position: relative;
  float: left;
  margin-right: 30px;
  top: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#bdiamants {
  position: relative;
  width: 45px;
  height: 45px;
  background: url(../images/pageboutique1.png?5x5x) -6px -177px;
  float: left;
}
#b104 {
  position: relative;
  height: 30px;
  width: 80px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  image-rendering: pixelated;
  display: flex;
  align-items: center;
  padding: 30px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

#buttombadges {
  position: relative;
  height: 30px;
  width: 332px;
  border-radius: 5px;
  image-rendering: pixelated;
  display: flex;
  align-items: center;
  padding: 30px;
  float: left;
  margin-right: 10px;
  margin-bottom: 35px;
}

.cc7 {
  position: relative;
  height: 141px;
}

.cc8 {
  position: absolute;
  font-size: 25px;
  left: 134px;
  top: 0px;
  color: white;
}

.cc9 {
  position: absolute;
  height: 95px;
  width: 454px;
  border: 3px solid #1d1d1ded;
  border-radius: 20px;
  background: url(../images/inputlogin.png?53) top center,
    rgba(19, 19, 19, 0.8588235294117647);
  bottom: 0;
}

.cc10 {
  position: absolute;
  height: 65px;
  width: 100%;
  background: rgba(23, 23, 23, 0.73);
  border-radius: 12px;
}

.cc12 {
  position: absolute;
  font-size: 25px;
  color: rgb(255, 255, 255);
  left: 128px;
  top: 5px;
}

.cc13 {
  position: absolute;
  height: 24px;
  width: 24px;
  background: url(../img/cityclub.png?5g5g) -322px -219px;
  left: 150px;
  top: 35px;
}

.cc14 {
  position: absolute;
  font-size: 20px;
  color: rgb(146, 146, 146);
  left: 180px;
  top: 37px;
}

.cc15 {
  position: absolute;
  height: 140px;
  overflow: hidden;
  top: -95px;
  left: 10px;
}

.cc16 {
  position: absolute;
  cursor: pointer;
  transition: 0.1s;
  height: 58px;
  width: 340px;
  border: 1px solid white;
  border-radius: 20px;
  background: #222;
  bottom: 0;
  right: -10px;
  border-bottom: 3px solid rgb(45, 45, 45);
}

.cc17 {
  position: absolute;
  height: 48px;
  width: calc(100% - 16px);
  left: 8px;
  background: url(../images/inputlogin.png?53) left;
  border-radius: 20px;
  top: 5px;
  opacity: 0.4;
}
.cc30 {
  position: absolute;
  height: 48px;
  width: calc(100% - 16px);
  left: 8px;
  background: url(../images/header.png?53) top center;
  border-radius: 20px;
  top: 5px;
  opacity: 0.7;
}

.cc18 {
  position: absolute;
  color: #ffffff;
  font-size: 23px;
  left: 40px;
  top: 19px;
}
